@model IEnumerable<IngWeb.Models.anagrafica_medici>

@{
    ViewBag.Title = "Index";
}

<h2>
    Medici&nbsp;&nbsp;<img src="~/Content/create.png" class="submit" onclick="location.href ='@Url.Action("Create", 0)'" style="overflow: hidden; position: relative; width:50px; height:50px;" />
</h2>
    <table class="table">
        <tr>
            <th></th>
            <th>
                Cognome
            </th>
            <th>
                Nome
            </th>
            <th>
                ID Regionale
            </th>
            <th>
                Indirizzo mail
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="150px">
                    <img src="~/Content/edit.png" class="submit" onclick="location.href ='@Url.Action("Edit", new { id = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
                    <img src="~/Content/view.png" class="submit" onclick="location.href ='@Url.Action("Details", new { id = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
                    <img src="~/Content/delete.png" class="submit" onclick="location.href ='@Url.Action("Delete", new { id = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cognome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_regionale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.indirizzo_mail)
                </td>

            </tr>
        }

    </table>
