@model IngWeb.Models.nuclei

@{
    ViewBag.Title = "Delete";
}

<h2>
    Eliminazione nucleo
    &nbsp;&nbsp;<img src="~/Content/indietro.png" alt="Torna indietro" onclick="history.back()" style="overflow: hidden; position: relative; width:50px; height:50px;" />
</h2>

<h3>Sei sicuro di voler cancellare il nucleo?</h3>
<div>
    <h4>nuclei</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrizione)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.nucleo_padre)
        </dt>

        <dd>
            @Html.DropDownList("nucleo_padre", ViewBag.nucleo_padrelist as SelectList, new { @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enabled)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-default" /> |
        </div>
    }
</div>
