@model IngWeb.Models.terapie_ospiti

@{
    ViewBag.Title = "Create";
}

<h2>Nuovo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Terapia ospite @ViewBag.NomeOspite</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.ospite, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.OspiteParam, @readonly = "readonly", @style = "display: none" } })
                @Html.ValidationMessageFor(model => model.ospite, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data_inizio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_inizio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_inizio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.data_fine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_fine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.data_fine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.farmaco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.farmaco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.farmaco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.posologia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.posologia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.posologia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.via_somministrazione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.via_somministrazione, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.via_somministrazione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.colazione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.HiddenFor(model => model.colazione, new { id = "stringBoolColazione" })
                <input type="checkbox" id="myCheckBox" onclick="selcolazione()" />
                <script>
                    function selcolazione() {
                        var isChecked = $(this).is(":checked");
                        var strbool = document.getElementById('stringBoolColazione');
                        if (isChecked) { strbool.value = "N"; } else { strbool.value = "S" }
                    };
                </script>

                @Html.ValidationMessageFor(model => model.colazione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pranzo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.HiddenFor(model => model.pranzo, new { id = "stringBoolPranzo" })
                <input type="checkbox" id="myCheckBox" onclick="selpranzo()" />
                <script>
                    function selpranzo() {
                        var isChecked = $(this).is(":checked");
                        var strbool = document.getElementById('stringBoolPranzo');
                        if (isChecked) { strbool.value = "N"; } else { strbool.value = "S" }
                    };
                </script>

                @Html.ValidationMessageFor(model => model.pranzo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cena, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.cena, new { id = "stringBoolCena" })
                <input type="checkbox" id="myCheckBox" onclick="selcena()" />
                <script>
                    function selcena() {
                        var isChecked = $(this).is(":checked");
                        var strbool = document.getElementById('stringBoolCena');
                        if (isChecked) { strbool.value = "N"; } else { strbool.value = "S" }
                    };
                </script>
                @Html.ValidationMessageFor(model => model.cena, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.sera, new { id = "stringBoolSera" })
                <input type="checkbox" id="myCheckBox" onclick="selsera()" />
                <script>
                    function selsera() {
                        var isChecked = $(this).is(":checked");
                        var strbool = document.getElementById('stringBoolSera');
                        if (isChecked) { strbool.value = "N"; } else { strbool.value = "S" }
                    };
                </script>
                @Html.ValidationMessageFor(model => model.sera, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="javascript:history.back()">Torna all'elenco</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
