@model IEnumerable<IngWeb.Models.terapie_ospiti>

@{
    ViewBag.Title = "Index";
}

<h2>
    Somministrazione mensile @ViewBag.NomeOspite

    @{
        var mesi = new SelectList(new[]
            {
        new {ID="1", Name="Gennaio"},
        new {ID="2", Name="Febbraio"},
        new {ID="3", Name="Marzo"},
        new {ID="4", Name="Aprile"},
        new {ID="5", Name="Maggio"},
        new {ID="6", Name="Giugno"},
        new {ID="7", Name="Luglio"},
        new {ID="8", Name="Agosto"},
        new {ID="9", Name="Settembre"},
        new {ID="10", Name="Ottobre"},
        new {ID="11", Name="Novembre"},
        new {ID="12", Name="Dicembre"},
    },
            "ID", "Name", this.ViewBag.MeseScelto);
    }
    @{
        var anni = new SelectList(new[]
            {
        new {ID="2016", Name="2016"},
        new {ID="2017", Name="2017"},
        new {ID="2018", Name="2018"},
        new {ID="2019", Name="2019"},
        new {ID="2020", Name="2020"},
        new {ID="2021", Name="2021"},
        new {ID="2022", Name="2022"},
        new {ID="2023", Name="2023"},
        new {ID="2024", Name="2024"},
        new {ID="2025", Name="2025"},
        new {ID="2026", Name="2026"},
        new {ID="2027", Name="2027"},
        new {ID="2028", Name="2028"},
        new {ID="2029", Name="2029"},
        new {ID="2030", Name="2030"},
    },
            "ID", "Name", this.ViewBag.AnnoScelto);
    }
    <br />
    Mese @Html.DropDownList("elencomesi", mesi, new { @onchange = "CallChangeMese(this.value)" })
    Anno @Html.DropDownList("elencoanni", anni, new { @onchange = "CallChangeAnno(this.value)" })

    <script>
        function CallChangeMese(val) {
            window.location.href = "/somministrazione_terapia_mese?pOspite=@ViewBag.idOspite&pAnno=@ViewBag.AnnoScelto&pMese="+val;
        }
    </script>

    <script>
        function CallChangeAnno(val) {
            window.location.href = "/somministrazione_terapia_mese?pOspite=@ViewBag.idOspite&pMese=@ViewBag.MeseScelto&pAnno="+val;
        }
    </script>

    &nbsp;&nbsp;<img src="~/Content/indietro.png" alt="Torna indietro" onclick="history.back()" style="overflow: hidden; position: relative; width:50px; height:50px;" />
    &nbsp;&nbsp;<img src="~/Content/create.png" class="submit" onclick="location.href ='@Url.Action("Create", new { pOspite = ViewBag.OspiteParam })'" style="overflow: hidden; position: relative; width:50px; height:50px;" />
</h2>

<p>
    @Html.ActionLink("Nuova terapia", "Create", "terapie_ospiti", routeValues: new
{
    pOspite = 1,
},
    htmlAttributes: null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ospite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_inizio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_fine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.farmaco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posologia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.via_somministrazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pranzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sera)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ospite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_inizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_fine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.farmaco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posologia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.via_somministrazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.colazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pranzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sera)
            </td>
            <td align="center">
                <table>
                    <tr>
                        <td width="50px" style="border: 1px solid black; background-color:red;" align="center">01</td>
                        <td width="50px" style="border: 1px solid black; background-color:green;" align="center">02</td>
                        <td width="50px" style="border: 1px solid black;" align="center">03</td>
                        <td width="50px" style="border: 1px solid black;" align="center">04</td>
                        <td width="50px" style="border: 1px solid black;" align="center">05</td>
                        <td width="50px" style="border: 1px solid black;" align="center">06</td>
                        <td width="50px" style="border: 1px solid black;" align="center">07</td>
                        <td width="50px" style="border: 1px solid black;" align="center">08</td>
                        <td width="50px" style="border: 1px solid black;" align="center">09</td>
                        <td width="50px" style="border: 1px solid black;" align="center">10</td>
                        <td width="50px" style="border: 1px solid black;" align="center">11</td>
                        <td width="50px" style="border: 1px solid black;" align="center">12</td>
                        <td width="50px" style="border: 1px solid black;" align="center">13</td>
                        <td width="50px" style="border: 1px solid black;" align="center">14</td>
                        <td width="50px" style="border: 1px solid black;" align="center">15</td>
                        <td width="50px" style="border: 1px solid black;" align="center">16</td>

                    </tr>
                    <tr>
                        <td width="50px" style="border: 1px solid black;" align="center">17</td>
                        <td width="50px" style="border: 1px solid black;" align="center">18</td>
                        <td width="50px" style="border: 1px solid black;" align="center">19</td>
                        <td width="50px" style="border: 1px solid black;" align="center">20</td>
                        <td width="50px" style="border: 1px solid black;" align="center">21</td>
                        <td width="50px" style="border: 1px solid black;" align="center">22</td>
                        <td width="50px" style="border: 1px solid black;" align="center">23</td>
                        <td width="50px" style="border: 1px solid black;" align="center">24</td>
                        <td width="50px" style="border: 1px solid black;" align="center">25</td>
                        <td width="50px" style="border: 1px solid black;" align="center">26</td>
                        <td width="50px" style="border: 1px solid black;" align="center">27</td>
                        <td width="50px" style="border: 1px solid black;" align="center">28</td>
                        <td width="50px" style="border: 1px solid black;" align="center">29</td>
                        <td width="50px" style="border: 1px solid black;" align="center">30</td>
                        <td width="50px" style="border: 1px solid black;" align="center">31</td>
                        <td width="50px" align="center"></td>

                    </tr>
                </table>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
