@model IEnumerable<IngWeb.Models.anagrafica_ospiti>

@{
    ViewBag.Title = "Index";
}

<h2>
    Anagrafica ospiti&nbsp;&nbsp;<img src="~/Content/create.png" class="submit" onclick="location.href ='@Url.Action("Create", 0)'" style="overflow: hidden; position: relative; width:50px; height:50px;" />
</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="300px">
            <img src="~/Content/edit.png" class="submit" onclick="location.href ='@Url.Action("Edit", new { id = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
            &nbsp;&nbsp;
            <img src="~/Content/view.png" class="submit" onclick="location.href ='@Url.Action("Details", new { id = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
            &nbsp;&nbsp;
            <img src="~/Content/delete.png" class="submit" onclick="location.href ='@Url.Action("Delete", new { id = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
            &nbsp; &nbsp;
            <img src="~/Content/terapia.png" class="submit" onclick="location.href ='@Url.Action("Index", "terapie_ospiti", new { pOspite = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
            &nbsp; &nbsp;
            <img src="~/Content/somministrazione.png" alt="Somministrazione Terapia" class="submit" onclick="location.href ='@Url.Action("Index", "somministrazione_terapia", new { pOspite = item.id })'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
            &nbsp; &nbsp;
            <img src="~/Content/somministrazione.png" alt="Somministrazione Terapia" class="submit" onclick="location.href ='@Url.Action("Index", "somministrazione_terapia_mese", new { pOspite = item.id, pMese = DateTime.Now.Month.ToString(), pAnno = DateTime.Now.Year.ToString()})'" style="overflow: hidden; position: relative; width:40px; height:40px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
       
    </tr>
}

</table>
